:root {
  --background-color-light: white;
  --text-color-light: black;
  --background-color-dark: black;
  --text-color-dark: white;
}
body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
.dark-theme {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}
.my-component {
  background-color: var(--background-color);
  color: var(--text-color);
}